.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    flex-wrap: wrap; /* Envolver los botones cuando no caben en una sola fila */
}

.btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1; /* Los botones ocupan el mismo espacio */
    max-width: calc(50% - 10px); /* Dos botones en una fila */
}

.btn.full-width {
    max-width: 100%; /* Botones en fila única ocupan todo el ancho */
}

.btn:hover {
    background-color: #0056b3; /* Color hover más oscuro */
}
